.workout__form { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1200px;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    padding-top: 0;
}

.workout__sets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0;
}

.workout__reps {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    margin: 0 0.5em;
}

.form__input {
    width: 250px;
    height: 30px;
    margin: 0.5em 0;
    padding: 0 5px;
    border: 1px solid #000;
}

.workout__input {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
}

.text__input { 
    width: 252px;
    height: 200px;
    margin: 0.5em 0;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 5px;
}

.form__input__select {
    width: 264px;
    height: 34px;
    margin: 0.5em 0;
    padding: 0 5px;
    border: 1px solid #000;
}

.workout__button {
    width: 264px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
}

.save__button {
    width: 264px;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
}